Summerschool/node-red-flow/flow.json
[{"id":"9d66ca2f.117c98","type":"tab","label":"Flow 1"},{"id":"4ff9c8cd.d32208","type":"ttn device","z":"9d66ca2f.117c98","name":"","app":"9db867c2.300c08","dev_id":"hurenhage","event":"activations","x":131,"y":158,"wires":[[]]},{"id":"f865f346.c8e7e","type":"ttn message","z":"9d66ca2f.117c98","name":"lol","app":"9db867c2.300c08","dev_id":"temperature","field":"","x":90,"y":320,"wires":[["dbc94038.13586","26990aa8.f2cea6","e9fb675a.39e658"]]},{"id":"dbc94038.13586","type":"function","z":"9d66ca2f.117c98","name":"CalcTemperature","func":"var newMsg = {  };\n//newMsg.payload = parseInt(msg.payload[0]);\n//newMsg.payload=(msg.payload[1]<<8)|(msg.payload[0]);\n//newMsg.payload=(newMsg.payload/1000);\n\n//var a = new Int8Array(0xFF, 0xF6);\n//var view = new DataView(a.buffer);\n//newMsg.payload = view.getInt16(0, false);\n\n\nvar unsignedValue = (msg.payload[1] << 8) | (msg.payload[0]);\n\nif (unsignedValue & 0x8000) {\n    // If the sign bit is set, then set the two first bytes in the result to 0xff.\n    newMsg.payload = unsignedValue | 0xffff0000;\n} else {\n    // If the sign bit is not set, then the result  is the same as the unsigned value.\n    newMsg.payload = unsignedValue;\n}\n\nnewMsg.payload = newMsg.payload / 100;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":279,"wires":[["dfc98d56.16211","6a496a8f.b96d64"]]},{"id":"dfc98d56.16211","type":"debug","z":"9d66ca2f.117c98","name":"temp","active":false,"console":"false","complete":"payload","x":651,"y":258,"wires":[]},{"id":"6a496a8f.b96d64","type":"influxdb out","z":"9d66ca2f.117c98","influxdb":"49551227.a1d27c","name":"temp_jaydi","measurement":"temperature_jaydi","precision":"","retentionPolicy":"","x":837,"y":279,"wires":[]},{"id":"26990aa8.f2cea6","type":"function","z":"9d66ca2f.117c98","name":"CalcPressure","func":"var newMsg = {  };\n//newMsg.payload = parseInt(msg.payload[0]);\nnewMsg.payload=(msg.payload[3]<<8)|(msg.payload[2]);\nnewMsg.payload = newMsg.payload/10;\nreturn newMsg;","outputs":1,"noerr":0,"x":431,"y":321,"wires":[["7cdb959e.07b61c","b75dd1dd.85a4d"]]},{"id":"e9fb675a.39e658","type":"function","z":"9d66ca2f.117c98","name":"CalcHumidity","func":"var newMsg = {  };\n//newMsg.payload = parseInt(msg.payload[0]);\nnewMsg.payload=msg.payload[4];\nreturn newMsg;","outputs":1,"noerr":0,"x":422,"y":361,"wires":[["91a0aa2c.92fc88","1f2910af.ee926f"]]},{"id":"7cdb959e.07b61c","type":"influxdb out","z":"9d66ca2f.117c98","influxdb":"49551227.a1d27c","name":"pressure_jaydi","measurement":"pressure_jaydi","precision":"","retentionPolicy":"","x":848,"y":321,"wires":[]},{"id":"1f2910af.ee926f","type":"influxdb out","z":"9d66ca2f.117c98","influxdb":"49551227.a1d27c","name":"humid_jaydi","measurement":"humidity_jaydi","precision":"","retentionPolicy":"","x":839,"y":359,"wires":[]},{"id":"b75dd1dd.85a4d","type":"debug","z":"9d66ca2f.117c98","name":"press","active":false,"console":"false","complete":"payload","x":653,"y":301,"wires":[]},{"id":"91a0aa2c.92fc88","type":"debug","z":"9d66ca2f.117c98","name":"humid","active":false,"console":"false","complete":"payload","x":655,"y":343,"wires":[]},{"id":"9db867c2.300c08","type":"ttn app","z":"","appId":"summerschool","region":"eu","accessKey":"ttn-account-v2.J-EcUBwDgSl6ZlIb3nA9vsT_ZFLuSDQEahekB2gc7rY"},{"id":"49551227.a1d27c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":"temp","usetls":false,"tls":""}]